
@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Holerite</title>
    <link href="~/css/holerite.css" rel="stylesheet" />
</head>
<body>

    <div class="cabecalho-topo">
        <div>
            ELETROLESTE COM E IMP MAT ELETR
            <br />
            AV ARICANDUVA 5200
            <br />
            66.573.759/0001-71
        </div>
        <div>
            SÃO PAULO - SP
        </div>
        <div class="center">
            RECIBO DE PAGAMENTO
            <br />
            MENSAL
            <br />
            Janeiro/2019
        </div>
    </div>

    <div class="cabecalho-base">
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Cbo</th>
                    <th>Empresa</th>
                    <th>Local</th>
                    <th>Depto</th>
                    <th>Setor</th>
                    <th>Secao</th>
                    <th>Folha</th>
                </tr>
            </thead>
            <tr>
                <td>905</td>
                <td>AUGUSTO ALEFF MARTINS DA SILVA</td>
                <td>411005</td>
                <td></td>
                <td></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
            </tr>
            <tr>
                <td></td>
                <td>AUXILIAR ADMINISTRATIVO</td>
                <td>ADMISSÃO: 02/03/2015</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="lancamentos">
        <table class="lancamentos">
            <thead>
                <tr>
                    <th class="descricao">Código</th>
                    <th>Descrição</th>
                    <th class="descricao">Referência</th>
                    <th class="descricao">Vencimentos</th>
                    <th class="descricao">Descontos</th>
                </tr>
            </thead>
            <tr>
                <td class="descricao">1</td>
                <td>SALÁRIO</td>
                <td class="descricao">30,00</td>
                <td class="descricao">1000,00</td>
                <td class="descricao"></td>
            </tr>
            <tr>
                <td class="descricao">194</td>
                <td>HORAS EXTRAS 60%</td>
                <td class="descricao">5,05</td>
                <td class="descricao">50,00</td>
                <td class="descricao"></td>
            </tr>
            <tr>
                <td class="descricao">11</td>
                <td>INSS SOBRE SALARIO</td>
                <td class="descricao">9,00</td>
                <td class="descricao"></td>
                <td class="descricao">500,00</td>
            </tr>
            <tr>
                <td class="descricao">1061</td>
                <td>DESC COMPRA(S) MERCADORIA(S)</td>
                <td class="descricao"></td>
                <td class="descricao"></td>
                <td class="descricao">200,00</td>
            </tr>

        </table>

    </div>
    <div class="rodape">
        <div class="rodape-topo">

            <div class="mensagem">
                ATUALIZE OS SEUS DOCUMENTOS JUNTO AO RH, NÃO ESQUEÇA DE TRAZER O COMPROVANDE DE RESIDÊNCIA, RG E FOTO ATUALIZADA!

            </div>


            <table class="rodape-table">
                <tr>
                    <th>Total Vencimentos --></th>
                    <td>1000,00</td>
                </tr>
                <tr>
                    <th>Total Descontos --></th>
                    <td>300,00</td>
                </tr>
                <tr>
                    <th>Total Líquido --></th>
                    <td>700,00</td>
                </tr>
            </table>

        </div>

        <div class="rodape-base">
            <table class="center">
                <thead>
                    <tr>
                        <th>Salário Base</th>
                        <th>Sal.Contr.INSS</th>
                        <th>Base Calculo FGTS</th>
                        <th>FGTS do MES</th>
                        <th>Base Calculo IRRF</th>
                        <th>Faixa IRRF</th>
                    </tr>
                </thead>
                <tr>
                    <td>1000,00</td>
                    <td>930,00</td>
                    <td>930,00</td>
                    <td>120,00</td>
                    <td>960,00</td>
                    <td>*****</td>
                </tr>
            </table>


        </div>
    </div>


</body>
</html>
